body{
    background-image: url("picture2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#gmailicon{
    width: 80px;
    height: 40px;
    background-color:transparent;
    border:none;
    transition: .25s;
    position:absolute;
    right: -770px;
    top:20px;
    background-color:rgb(0, 255, 213);
    border-radius: 0px 10px 10px 0px;
}

#book_cover{
    width: 370px;
    height: 400px;
    padding-right: 50px;
    margin-left: -200px;
    margin-top:0px;
}

#li1{
    color:rgb(0, 247, 255);
    background-color: rgb(0, 255, 191);
    margin-left: -15px;
    border-radius: 0px 0px 20px 0px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: darkcyan;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}
#licontact{
    color:rgb(0, 247, 255);
    background-color: rgb(0, 255, 191);
    margin-left: -15px;
    border-radius: 0px 0px 20px 0px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: darkcyan;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: darkcyan;
}

#licontacticon{
    color:rgb(0, 247, 255);
    background-color: rgb(0, 255, 191);
    margin-left: -15px;
    border-radius: 0px 0px 20px 0px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: darkcyan;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: darkcyan;
}

#li2{
    width:600px;
    margin-left:-540px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: rgb(106, 34, 199);
}

h3{
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-family: anticfont;
    margin-top: 100px;
    margin-left:-560px;
    width:1000px;
}

#vid{
    margin-top: 20px;
    margin-left:1px;
}

#videodiv{
    background-color:rgb(255, 123, 0);
    border-radius: 20px;
    margin-top: 100px;
    margin-left:-380px;
    width:760px;
    height:2160px;
}